name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - uses: oven-sh/setup-bun@v1
      - name: Install Dependencies
        run: bun install

      - name: build
        env:
          BASE_PATH: "/${{ github.event.repository.name }}"
        run: |
          bun run build

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v2
        with:
          path: "build/"

  deploy:
    needs: build_site
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v2
